header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 120%;
}

input {
    margin: 15px;
    height: 25px;
}

header div {
    margin-right: 30px;
}

#highscore-button {
    margin-left: 30px;
    background-color: white;
    color: blueviolet;
    border: none;
}

#highscore-button:hover {
    cursor: pointer;
}

#return-button {
    margin-left: 30px;
    background-color: white;
    color: blueviolet;
    border: none;
    margin-top: 22px;
}

#clear-button {
    margin-right: 30px;
    background-color: white;
    color: blueviolet;
    border: none;
    margin-top: 22px;
}

#clear-button:hover {
    cursor: pointer;
}

#return-button:hover {
    cursor: pointer;
}

#highscore-title {
    text-align: center;
    font-size: 300%;
    margin: 0;
}

#quiz {
    margin-top: 100px;
    text-align: center;
}

#quiz h1 {
    font-size: 300%;
}

#quiz p {
    font-size: 200%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#start-button {
    margin-top: 50px;
    width:fit-content;
    background-color: blueviolet;
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px darkslategrey;
}

#submit {
    margin-top: 15px;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px darkslategrey;
}

.list-divider {
    display: flex;
    justify-content: center;
    width: 100%;
}

#user-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    font-size: 200%;
    padding: 0;
}

#user-list li {
    padding: 10px;
    border-bottom: 2px solid lightgrey;
}

#score-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    font-size: 200%;
}

#score-list li {
    padding: 10px;
    border-bottom: 2px solid lightgrey;
}

#question {
    margin-left: 21%;
    font-size: 250%;
    margin-right: 10%;
}

#answers {
    display: flex;
    flex-direction: column;
    margin-left: 18%;
}

#answers button {
    text-align: left;
    font-size: 110%;
    margin-bottom: 15px;
    padding: 10px;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    box-shadow: 5px 5px 5px darkslategrey;
    width: 30%;
}

#answers button:hover {
    background-color: magenta;
}

#quiz button:hover {
    background-color: magenta;
}

#guess {
    color: grey;
    margin-left: 21%;
    padding-top: 10px;
    width: 70%;
}

#time-up {
    color: grey;
    margin-left: 21%;
    padding-top: 10px;
    width: 70%;
}
